/*.header {
	position: absolute;
	top: 10px;
	left: 10px;
  	font-family: Verdana, Geneva, sans-serif;
  	padding: 30px;
  	text-align: center;
  	background: #1abc9c;
	color: white;
	font-size: 45px;
	border-radius: 15px;
	cursor: pointer;
}
.dollartree {
	position: relative;
	display: inline block;
	padding: 40px 20px;
	font-size: 24px;
	cursor: pointer;
	text-align: left;
	color: #00FF7F;
	background-color: #008000;
	border: none;
	border-radius: 15px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 100px;
}
.button {
	position: absolute;
	display: inline;
	padding: 10px 10px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	color: #000000;
	background-color: #BABABA;
	border: none;
	border-radius: 10px;
	margin-left: 1193px;
	margin-right: 1144px;
	margin-top: 20px;
	right: 50px;
}
.money {
        position: sticky;
	position: absolute;
	top: 15px;
	left: 15px;
	display: inline block;
	padding: 10px 10px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	color: #32CD32;
	background-color: #000000;
	border: none;
}	
body{
        background-color: #000000;
}

*/
