.header {
  	font-family: Verdana, Geneva, sans-serif;
  	padding: 30px;
  	text-align: center;
  	background: #1abc9c;
	color: white;
	font-size: 45px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 15px;
	cursor: pointer;
.dollartree {
	display: block;
	padding: 100px 40px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	color: #00FF7F;
	background-color: #008000;
	border: none;
	border-radius: 15px;
	margin-left: 20px;
	margin-bottom: 20px;
}
