.button {
	display: inline-block;
	padding: 100px 40px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #00FF7F;
	background-color: #008000;
	border: none;
	border-radius: 15px;
	box-shadow: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 20px;
}
.header {
  font-family: Verdana, Geneva, sans-serif;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
